.region {
    -fx-alignment: center;
}

.datelabel{
    -fx-padding: 2 2 2 2;
    -fx-border-style: null;
    -fx-background-radius: 0;

    -fx-background-color: transparent;

    -fx-font-size:20;
}

.datelabel:hover{
    -fx-background-color: lightblue;
}

.today{
    -fx-background-color: aquamarine;
}

.eventlabel{
    -fx-background-color: lemonchiffon;
    -fx-text-fill: orange;
    -fx-alignment: top-left;
}

.selectedDate{
    -fx-background-color: lightblue;
}

.label{
    -fx-alignment: center;
}

.taskcell:hover{
    -fx-background-color: lightgray;
}

.tasktitle{
    -fx-font-size: 15;
    -fx-font-weight: bold;
}

.taskdue{
    -fx-alignment: bottom-right;
}

.completedtask{
    -fx-background-color: azure;
}

.tasktypeheading{
    -fx-font-size: 35;
    -fx-font-weight: bold;
    -fx-font-style: italic;
}

.desclabel{
    -fx-font-size: 12;
    -fx-font-fill: gray;
}

.commandbox{
    -fx-font-family: monospace;
    -fx-text-fill: green;
    -fx-font-size: 15;
    -fx-font-weight: bold;
}