.root{
    -fx-font-family: "Futura LT Book";
}

.split-pane:horizontal > .split-pane-divider {
   -fx-background-color: transparent;
	    -fx-border-color: null;
    -fx-padding: 0px;
}
.split-pane:vertical > .split-pane-divider {
   -fx-background-color: transparent;
    -fx-border-color: null;
    -fx-padding: 0px;
}

.completedTaskRow .text{
    -fx-strikethrough: true;
    -fx-text-fill: #dddddd;
}

.incompleteTaskRow{

}